/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

body {
  padding : 5px ;  
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 5px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 5px;

}

#exTab2 div {
  padding : 5px 5px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 5px;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}


.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

img {
    display: block;
    margin: 0 auto;
}
