{% extends "base.html" %}
{% block content %}
<title>{% block title %}{% endblock %}</title>

<div id="exTab2" class="container"> 
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#document" data-toggle="tab">Document</a>
        </li>
        <li><a href="#metadata" data-toggle="tab">Metadata</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="document">
            {% if context.EN %}
            <button class='lang btn btn-info' id='en' value='{{ context.EN }}'>English</button> 
            {% else %}
            <button class='lang btn btn-info' id='en' disabled>English</button> 
            {% endif %}
            {% if context.ES %}
            <button class='lang btn btn-info' id='es' value='{{ context.ES }}'>Español</button> 
            {% else %}
            <button class='lang btn btn-info' id='es' disabled>Español</button> 
            {% endif %}
            {% if context.FR %}
            <button class='lang btn btn-info' id='fr' value='{{ context.FR }}'>Français</button> 
            {% else %}
            <button class='lang btn btn-info' id='fr' disabled>Français</button> 
            {% endif %}
            {% if context.DE %}
            <button class='lang btn btn-info' id='de' value='{{ context.DE }}'>Other</button> 
            {% else %}
            <button class='lang btn btn-info' id='de' disabled>Other</button> 
            {% endif %}
            {% if context.RU %}
            <button class='lang btn btn-info' id='ru' value='{{ context.RU }}'>Русский</button> 
            {% else %}
            <button class='lang btn btn-info' id='ru' disabled>Русский</button> 
            {% endif %}
            {% if context.AR %}
            <button class='lang btn btn-info' id='ar' value='{{ context.AR }}'>العربية</button> 
            {% else %}
            <button class='lang btn btn-info' id='ar' disabled>العربية</button> 
            {% endif %}
            {% if context.ZH %}
            <button class='lang btn btn-info' id='zh' value='{{ context.ZH }}'>中文</button>
            {% else %}
            <button class='lang btn btn-info' id='zh' disabled>中文</button>
            {% endif %}
            <iframe id='document-frame' src="{{ context.EN }}" width="80%"" height="1200px"></iframe>
        </div>
        <div class="tab-pane" id="metadata">
            <h3>Metadata</h3>
            <p><b>Title:</b> {{ context.metadata.title }}</p>
            <p><b>Document Symbol:</b> {{ context.metadata.document_symbol }}</p>
            {% if context.metadata.title_statement %}
                <p><b>Title Statement:</b> {{ context.metadata.title_statement.0 }}</p>
            {% endif %}
            {% if context.metadata.author %}
                <p> <b>Author:</b> {{ context.metadata.author }}</p>
            {% endif %}
            {% if context.metadata.pubyear %}
                <p> <b>Pubdate:</b> {{ context.metadata.pubyear }}</p>
            {% endif %}
            <div id="accordion">
                <h5>Summary:</h5>
                <div>
                    <p>{{ context.metadata.summary }}</p>
                </div>
                <h5>Agenda:</h5>
                <div>
                    <p>{{ context.metadata.agenda }}</p>
                </div>
                <h5>Subjects:</h5>
                <div>
                    <ul>
                        {% for k, v in context.metadata.subjects.items() %}
                        <li><a target="_blank" href="{{v}}">{{k}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <h5>Notes:</h5>
                <div>
                    <ul>
                        {% for note in context.metadata.notes %}
                        <li> {{ note }} </li>
                        {% endfor %}
                    </ul>
                </div>  
                <h5>Related Documents:</h5>
                <div>
                    <ul>
                        {% for doc, link in context.metadata.related_documents.items() %}
                        <li><a href="{{link}}">{{ doc }} </a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>        
        </div>
    </div>
</div>
    
{% endblock %}